{% extends "index.html" %}

{% block title %}{{ page.title }} &middot; {{ config.title }}{% endblock title %}
{% block description %}{{ page.description | default(value=config.description) }}{% endblock description %}

{% block ogtitle %}{{ page.title }}{% endblock ogtitle %}
{% block ogdesc %}{{ page.description }}{% endblock ogdesc %}
{% block ogurl %}{{ page.permalink | safe }}{% endblock ogurl%}
{% block ogimage -%}
  {%- if page.extra.image -%}{{ get_url(path=page.extra.image) | safe }}
  {%- elif config.extra.ogimage -%}{{ get_url(path=config.extra.ogimage) | safe }}
  {%- endif -%}
{%- endblock ogimage %}


{% block content %}

        <div class="moving">
            deadbaed is moving!
            Find this article at the new location: <a href="https://philippeloctaux.com/blog/{{ page.slug }}/">https://philippeloctaux.com/blog/{{ page.slug }}/</a>

            <div class="archived">
                This site is archived and will not be updated.<br />
                If you are subscribed to the RSS feed, please update your reader to the new URL.
            </div>
        </div>

<article>
  <h1>{{ page.title }}</h1>

  {% if page.date %}
    <p style="font-size:90%;">Posted on <time datetime="{{ page.date | date(format="%+") }}">{{ page.date | date(format="%B %d, %Y") }}</time></p>
  {% endif %}

  {{ page.content | safe }}
</article>
{% endblock content %}
